

body{
	font-family: sans-serif;
}

.sec1{

	background-image: url("../images/h.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.logo{

	padding-top: 15px;
	padding-left: 45%;
	padding-right: 50%;
}


.p1{
	padding-left: 450px;
	color: white;
	line-height: 5em;
	padding-top: 50px;
}

.p2{
	padding-left: 400px;
	color: white;
	line-height: 2em;
	padding-top: 50px;

}


.sec2{
	text-align: center;
}

.sec3{

	background-image: url("../images/yu.jpg");
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 18px
	padding-bottom:100px;

}


#showing {
  display: none;
}

#showing2 {
  display: none;
}


#showing3 {
  display: none;
}

.pics{
	text-align: center;
}

.portfolio{
	text-align: center;
	overflow: hidden;
	margin: auto;
	width: 80%;
}


.myne{
	text-align: center;
	background-image: url("../images/c.jpg");
	color: white;
	overflow: hidden;
	margin: auto;
	width: 80%;
}

.myicons{
	padding-left: 50px;
	padding-top: 50px;
}

.lo{
	text-align: center;
	line-height: 2em;
}

.n{

	background-image: url("../images/c.jpg");
	margin-top:20px;
	height: 400px;
}

.kk:hover{

 background-color: #f4f4f4;

}